{%extends 'base.html'%}


{%block contents%}


<!--    <div class="py-5">-->
<!--      <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>-->
<!--      <div class="col-lg-6 mx-auto">-->
<!--        <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>-->
<!--        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">-->
<!--          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Upload File</button>-->
<!--          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<style>
.container{
  display: flex;
  justify-content: center;
  align-items: center;


}
.testset{

height:200px;

}
.child {

  height: 150px;

  /* Center horizontally*/
  margin: 0 auto;
}
</style>
<div class="container testset">
<div class="child">

<h1>Import Files</h1>
<form action="{%url 'uploadfile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ bulk_upload_form.as_p}}
    <input type="submit" value="Submit">
</form>
    </div>
</div>
{%endblock%}